.header__menu_vertical {
  display: none;
}

@media screen and (max-width: 600px) {
  .header__menu_vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    height: 142px;
  }
}
