.header__nlink {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  color: #fff;
}
