@import url(./__title/auth__title.css);
@import url(./__fieldset/auth__fieldset.css);
@import url(./__input/auth__input.css);
@import url(./__btn/auth__btn.css);
@import url(./__btn/_disabled/auth__btn_disabled.css);
@import url(./__link/auth__link.css);


.auth {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 60px auto 0;
}
