.auth__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  line-height: 29px;
  margin: 0 0 50px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .auth__title {
    font-size: calc((100vw - 320px) / (600 - 320) * (24 - 20) + 20px);
    line-height: calc((100vw - 320px) / (600 - 320) * (29 - 24) + 24px);
    margin-bottom: calc((100vw - 320px) / (600 - 320) * (50 - 40) + 40px);
  }
}
