@media screen and (max-width: 600px) {
  .header__navbar_vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 142px;
    margin: 0;
    padding: 40px 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  }
}
