.profile__btn_action_edit {
  flex: 0 1 24px;

  width: 24px;
  height: 24px;
  margin-top: 19px;

  border: 1px solid #FFFFFF;
  border-radius: 0;
  background-image: url(../../../../images/profile-edit-btn.svg);
  background-size: 10px 10px;
}


.profile__btn_action_edit:hover {
  opacity: .6;
}


@media screen and (max-width: 600px) {
  .profile__btn_action_edit {
    flex: 0 1 18px;

    width: 18px;
    height: 18px;
    margin-top: 20px;

    background-size: 7.5px 7.5px;
  }
}
