.auth__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  transition: opacity .2s ease-in;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.auth__link:hover {
  opacity: .6;
}
