.header__btn {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  transition: all .2s ease-in;
  border: none;
  outline: none;
  justify-self: flex-end;
  background: none;
}

.header__btn:hover {
  opacity: .6;
}


