.header__menu {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: all .2s ease-in;
}

@media screen and (max-width: 600px) {
  .header__menu {
    display: none;
  }
}

