@import url(./__main/hrader__main.css);
@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__menu/_vertical/header__menu_vertical.css);
@import url(./__menu/_hidden/header__menu_hidden.css);
@import url(./__nlink/header__nlink.css);
@import url(./__email/header__email.css);
@import url(./__btn/header__btn.css);
@import url(./__btn/_type/header__btn_type_close.css);
@import url(./__btn/_type/header__btn_type_open.css);


.header {
  display: flex;
  flex-direction: column;
  width: calc(100% - 199px * 2);
  min-width: calc(1024px - 100px * 2);
  max-width: calc(1280px - 199px * 2);
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 100px * 2);
    min-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 300px;
  }
}
